// $primary: #6E3CBC !default;
$primary : #F73D93!default;
// $secondary: #9AB3F5 !default;
$secondary: #FFFFFF !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
);

$white : #fff;

$colors: (
  "white":      $white
);
