// $primary: #6E3CBC !default;
$primary : #F73D93 !default;
// $secondary: #9AB3F5 !default;
$secondary : #FFFFFF !default;
$font-family : 'Nunito Sans';

.balance{
    background-color: $primary;
    border-radius: 20px;
    width: 100%;
    height : 190px;
}

.income-expense{
    background-color: $primary;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    width: 100%;
    height : 440px;
}

.information{
    background-color: $secondary;
    border: 1px solid $primary;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    width: 100%;
    min-height: 620px;
}

.textBalance {
    font-size: 18px;
    font-family: $font-family;
}

.button {
    height: 57px;
    width: 100%;
}
