// .header {
//     background-color: green;
//     height: 700px;
//     width: 100%;
// }

$font-family : 'Nunito Sans';
$primary : #F73D93 !default;
$secondary: #FFFFFF !default;
$third : #FFDDEE !default;

.header {
    background-image: url(../public/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width:100%;
}

.titleHeader{
    font-size: 68px;
    margin-top: 244px;
    width : 600px;
}

.imgHeader{
    margin-top: 244px;
    width:100%;
    height : 100%;
}

.textHeader{
    font-size: 18px;
}

.button{
    background-color: white;
    color : $primary;
    width: 173px;
    height: 57px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
}

.button:hover {
    background-color: $primary;
    color : white;
    width: 173px;
    height: 57px;
    border-radius: 12px;
    cursor: pointer;
}

.title{
    font-size: 60px;
    font-weight: 800;
}

.icon{
    width: 70px;
    height: 70px;
    font-size: 40px;
    border-radius: 40px;
    background-color: $primary;
    color: $secondary;
    align-items: center;
}

.sectionFeatureWallet {
   background-color: $third;
   height: 100%;
}

.sectionAboutWallet {
    background-color: $third;
    height: 100%;
 }

.balance {
    background-color: $third;
    height: 170px;
    width : 720px;
    border-radius: 30px;
    font-size: 68px;
    font-weight: 900;
 }

.description{
    font-size: 60px;
}

.detailFeature{
    height: 127px;
    color: $secondary;
    border: 1px solid $primary;
    border-radius: 20px;
    width : 100%;
}

.arrow{
    width: 70px;
    height: 70px;
    font-size: 40px;
    border-radius: 40px;
    background-color: $secondary;
    color: $primary;
    border: 1.5px solid $primary;
}

.testimony{
    background-color: $secondary;
    border: 1.5px solid $primary;
    width: 100%;
    height: 496px;
    border-radius: 30px;
}

.footer{
    background-color: $primary;
    color: $secondary;
    height: 438px;
    font-size: 18px;  
}

.line {
   border: 1px solid $secondary;
}


@media(max-width:756px) {
    .detailFeature{
        width: 100%;
    }
 }

@media(max-width:719px) {
   .balance{
       width: 100%;
       font-size: 50px;
   }
}

@media(max-width:992px) {
    .titleHeader,.textHeader{
        width: 100%;
    }
}

