
// $primary: #6E3CBC !default;
// $secondary: #9AB3F5 !default;
// $font-family : 'Nunito Sans';
$font-family : 'Nunito Sans';
$primary : #F73D93 !default;
$secondary: #FFFFFF !default;
$third : #FFDDEE !default;

.text {
    background-color:transparent;
    border: none;
    width: 100%;
    border-bottom: 1.5px solid rgba(134, 35, 214, 0.6);
    height: 37px;
    font-size: 16px;
    font-family: $font-family;
}

.text::placeholder{
    color:$primary
}

.text:focus {
    outline: none;
    background-color: transparent;
    box-shadow: unset;
    border-bottom: 1.5px solid $primary;
    color: $primary;
}

.textPin {
    background-color:transparent;
    color: $primary;
    border: none;
    width: 53px;
    border: 1.5px solid $primary;
    border-radius: 8px;
    height: 65px;
    font-size: 16px;
    font-family: $font-family;
}

.textPin:focus {
    outline: none;
    background-color: transparent;
    box-shadow: unset;
    border-bottom: 1.5px solid $primary;
}

.pincodeInputContainer
{
  .pincodeInput
  {
    padding:0 !important;
    margin:0 2px;
    text-align:center;
    border: 1px solid $primary;
    background: transparent;
    width: 50px;
    height: 50px;
  }
  .pincodeInput:focus
  {
    outline:none;
    box-shadow:none;
  }
}

.button {
    height:57px;
    width: 100%;
    border-radius: 12px;
    font-weight: 700;
    color: $secondary;
}

.button:hover {
   background-color: $secondary;
   color : $primary;
   width: 100%;
   height: 57px;
   border-radius: 12px;
   font-weight: 700;
   cursor: pointer;
}

.formPassword {
    margin-top: 100px;
}

.buttonPassword {
    height:57px;
    width: 100%;
    border-radius: 12px;
    font-weight: 700;
    margin-top: 100px;
}

.buttonTransaction {
    height:57px;
    width: 157px;
    border-radius: 12px;
    font-weight: 700;
    color: $secondary;
}

.buttonTransaction:hover {
   height:57px;
   width: 157px;
   border-radius: 12px;
   font-weight: 700;
   background-color: transparent;
   color: $primary;
   border: 1px solid $primary;
   cursor: pointer;
}

.inputContainer {
    display: flex;
    width: 100%;
    border-bottom: 1.5px solid $primary;
}

.inputContainer svg{
    margin-right: 10px;
    font-size: 30px;
    color: $primary;
}

.textLoginSignup {
    background-color:transparent;
    color: $primary;
    border: none;
    width: 100%;
    height: 37px;
    font-size: 16px;
    font-family: $font-family;
}

.textLoginSignup::placeholder{
    color:$primary
}

.textLoginSignup:focus {
    outline: none;
    background-color: transparent;
    box-shadow: unset;
    color:$primary
}

.error{
    color: red;
    font-size: 14px;
}

@media(max-width:500px) {
    .text{
        width: 100%;
    }
    .button{
        width : 100%;
    }
    .buttonTransaction{
      width : 100%;
      margin-bottom: 20px;
   }
  .buttonTransaction:focus{
   width : 100%;
   }
}

