$font-family : 'Nunito Sans';

.textPassword {
    background-color:transparent;
    color: white !important;
    border: none;
    width: 431px;
    border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
    height: 37px;
    font-size: 16px;
    font-family: $font-family;
}


.textPassword:focus {
    outline: none;
    background-color: transparent;
    box-shadow: unset;
    border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
}
