
$primary: #7579E7;

.menu{
    background-color: $primary;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    min-height: 100%;
    width : 100%;
}

.navLink{
    color : white;
    font-size: 18px;
}