
$primary: #6E3CBC !default;
$secondary: #9AB3F5 !default;

.menu{
    background-color: $secondary;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    width : 100%;
    min-height: 870px;
    border: 1px solid $primary;
}

.menuItem{
   margin : 70px 40px;
   list-style: none;
}

.menuItem li{
    font-size: 18px;
    margin-top: 52px;
}


.menuItem li:hover{
    font-size: 18px;
    padding-left: 45px;
    font-weight: 600;
}

.menuItem li a{
    font-size: 18px;
    margin-top: 52px;
}


.menuItem li a.active{
    color: $primary;
    font-weight:700;
    border-left: 2px solid $primary;
}