$font-family : 'Nunito Sans';
$primary : #F73D93 !default;
$secondary: #FFFFFF !default;
$third : #FFDDEE !default;

.modalHeader{
    background-color: $primary;
    color: white;
}

.modalBody{
   background-color: $secondary;
   color: $primary;
}

.modalIcon{
   background-color: $secondary;
   color: $primary;
   font-size: 100px;
}