
// @import './color.scss';

// $primary: #6E3CBC !default;
$font-family : 'Nunito Sans';
$primary : #F73D93 !default;
$secondary: #FFFFFF !default;
$third : #FFDDEE !default;

// @import 'bootstrap/scss/bootstrap';

.navbarLight {
    background-color:$primary;
    height: 140px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.navbarBrand{
    font-family: $font-family;
    font-size: 29px;
    font-weight: 600;
    color: $primary;
}

.textName {
    font-family: $font-family;
    font-size: 18px;
    font-weight: 70px;
    color: white;
}

.textPhone {
    font-family: $font-family;
    font-size: 13px;
    color: white;
}

.navbarHomepage{
    background-color:transparent;
    width: 100%;
}

.navbarToggler{
    color: #6E3CBC;
}

.buttonLogin , .buttonRegister{
    width : 120px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
}
.buttonLogin {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color:white;
}

.buttonRegister {
    background-color: #FFFFFF;
    color:$primary;
}

.buttonLogin:hover,.buttonRegister:hover{
    background-color: $primary;
    color: white;
    cursor: pointer;
    border : none;
}

@media(max-width:992px) {
    .buttonLogin,.buttonRegister{
        width: 100%;
        margin-top: 30px;
    }
}
