$font-family : 'Nunito Sans';
$primary : #F73D93 !default;
$secondary: #FFFFFF !default;
$third : #FFDDEE !default;

// $font-family : 'Nunito Sains';

.search{
    height: 54px;
    width : 100%;
}

.textTransfer{
    border:none;
    background-color: transparent;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    margin-top: 100px;
    color:$primary;
}


.textTransfer:focus {
    outline: none;
    box-shadow: unset;
    background-color: transparent;
    color:$primary;
}

.iconStatus{
    font-size: 70px;
}



// .information{
//     background-color: $primary;
//     box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
//     border-radius: 25px;
//     width: 100%;
//     height : 100%;
// }

// .listReceiver{
//     box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
//     border-radius: 10px;
//     height : 110px;
//     align-items: center;
// }